---
---


/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */
/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* typography */

p, ul, ol, label, input {
    font-size:120%;
}
h1 {
    font-size:3rem;
    hyphens:manual;
    margin-top:0;
}
h2 {
    font-size:1.8rem;
    margin-top:3rem;
    margin-bottom:1rem;
}

/* layout */
$content-width: 900px;
$article-width: 700px;
$right-sidebar-width: 200px;
$left-sidebar-width: 400px;
   
* { 
   box-sizing: border-box;
}
   
.content {
  max-width: $content-width;
  margin: auto;
  padding:0 5px 0 5px;
}

.article-content {
    position:relative;
}

@media all and (min-width: 920px) {
    .article-content {
      max-width: 690px;
    }
}

/** the goal of this is, when screens are wide enough,
  * to pull the whole content panel to the left so there's
  * more room for a 200px footnote/addendum sidebar on the right */
/*@media all and (min-width: 920px) {
    .content {
        position:relative;
        left:-100px;
    }
}*/


hr {
    margin: 3em 0;
}

div.nav-header, div.nav-footer {
    width:100%;
    float:left;
    margin:1em 0 2em 0;
}
div.nav-footer {
    margin-top:5em;
}
a.nav {
    float:left;
    font-size:0.85em;
}
a.nav, a.article, a.book {  
  text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.small {
    font-size:0.85em;
}


.left {
    float:left;
}

.right, a.nav.right {
    float:right;
}

.one-third {
    float:left;
}
.two-thirds {
    float:left;
    margin-right:10px;
}

@media all and (min-width: 610px) {
    .two-thirds {
        width:60%;
    }
    .one-third {
        width:30%;
    }
}

.row {
    width:100%;
    display:inline-block;
    clear:both;
}

#mc_embed_signup {
    background:#fff; clear:left;
}


 .col0, .col1, .col2, .col3, .col4, .col5 {
     border-left:5px solid #5A7A8D;
     margin-left:0px;
     padding-left:10px; 
     }
 .col0 {
     border-color: #112F41;
 }
 .col1 {
     border-color: #0894A1;
 }
 .col2 {
     border-color: #47AB6C;
 }
 .col3 {
     border-color: #B58427;
 }
 .col4 {
     border-color: #ED553B;
 }
 
 .col0:hover a, .col0:hover {
     background-color: #112F41;
     color:white;
     text-decoration:none;
 } 
 .col1:hover a, .col1:hover {
     background-color: #0894A1;
     color:white;
     text-decoration:none;
 }
 .col2:hover a, .col2:hover {
     background-color: #47AB6C;
     color:white;
     text-decoration:none;
 }
 .col3:hover a, .col3:hover {
     background-color: #B58427;
     color:white;
     text-decoration:none;
 }
 .col4:hover a, .col4:hover {
     background-color: #ED553B;
     color:white;
     text-decoration:none;
 }
 
 .has-fn {
     border-bottom: 1px dotted;
 }
 
 a.has-fn {
     text-decoration:none;
     border:1px dotted white;
     border-bottom: 1px dotted;
 }
 
 /** footnote wide screen solution with them in sidebar */
 .has-fn span {
     position:absolute;
     right:-200px;
     width:190px;
     border-left:1px dotted;
     padding-left:9px;
     font-size:80%;
     line-height:1.3em;
 }
 /** end footnote wide screen */
 
 /** footnote small screen solution with footnotes as a popup on hover/press */
@media all and (max-width: 920px) {
 
  .has-fn span { 
      display:none;
  }
  .has-fn {
     cursor:pointer;
  }
 .has-fn:active, .has-fn:hover {
     background-color:#eeeeff;
     border:1px dotted;
 }
 .has-fn:active span, .has-fn:hover span {
     display:inline;
     position:absolute;
     right:20px;
     width:200px;
     background-color:#eeeeff;
     border: 1px dotted;
     padding:6px 9px;
     font-size:80%;
 }
}
 /** end footnote small screen */
 
/* ----------------------
form signup silliness 
------------------------*/
#mc_embed_signup {
    float:left;
    width:100%;
    margin-bottom:100px;
}

#mc_embed_signup .one-third {
    font-weight:bold;
    margin-right:10px;
}

.toggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.toggle input:checked + label {
    background-color: #4b9dea;
    color: #fff;
    border-color: #4b9dea;
    z-index: 1;
}

.toggle input + label {
    margin:16px 0 0 0;
    font-weight:normal !important;
    padding: 0.4rem .6rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #ddd;
    background-color: #fff;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    cursor:pointer;
}

.button {
    cursor:pointer;
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

iframe {
   width:40%;
   min-width: 400px;
   margin:5px;
}

.sidebar-img {
    width:100%;
    margin:5px 0;
}
