<!doctype html>
<html class="no-js" lang="">

<head>
  
  <script src="https://cdn.usefathom.com/script.js" data-site="LLPJKLWK" defer></script>

  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  {% if page.canonical %}
  <link rel="canonical" href="{{ page.canonical }}" />
  {% endif %}
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/medium.css">
  <link rel="stylesheet" href="/css/main.css?v=07012021b">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

<div class="row">

  <div class="content">
  
  {% include header.html %}
  
  {{ content }}
  
  {% include footer.html %}
  
  </div>
</body>

</html>
